html,body{
  height 100%
}
#app{
  height 100%
}
.apps-container, .app, .page{
  height 100%
}
.el-input.is-active .el-input__inner,.el-input__inner:focus{border-color:$active-color;outline:0}
.el-input-number__decrease:hover,.el-input-number__increase:hover{color:$active-color}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){border-color:$active-color}
.el-input-number__decrease, .el-input-number__increase {
  background #f8f8f8
}
.el-input__inner:hover {
  border-color: #c0c4cc
}
.vue-html5-editor{
  border-color #dcdfe6
  .toolbar{
    background #f8f8f8
  }
}
.my-line{
  display flex
  > .el-form-item:not(:first-of-type){
    margin-left 20px
  }
  //align-items center
}
